<ion-header>
  <ion-navbar>
    <ion-title>สร้างสถานที่</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list no-line>
    <ion-item>
      <ion-label floating>*ชื่อสถานที่</ion-label>
      <ion-input type="text" [(ngModel)]="namePlace"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>*ประเภท</ion-label>
      <ion-select name="typesPlace" [(ngModel)]="typesPlace">
        <ion-option value="ที่พักอาศัย">ที่พักอาศัย</ion-option>
        <ion-option value="ร้านอาหาร">ร้านอาหาร</ion-option>
        <ion-option value="แหล่งท่องเที่ยว">แหล่งท่องเที่ยว</ion-option>
        <ion-option value="วัด สถานปฏิบัติธรรม กิจกรรมทางศาสนา">วัด สถานปฏิบัติธรรม กิจกรรมทางศาสนา</ion-option>
        <ion-option value="ร้านค้าของที่ระลึกและสินค้า OTOP">ร้านค้าของที่ระลึกและสินค้า OTOP</ion-option>
        <ion-option value="ศูนย์บริการข้อมูลชุมชน">ศูนย์บริการข้อมูลชุมชน</ion-option>
        <ion-option value="อื่น ๆ">อื่น ๆ</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>*รายละเอียด</ion-label>
      <ion-textarea type="text" [(ngModel)]="detailPlace" rows="5"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>ที่อยู่</ion-label>
      <ion-input type="text" [(ngModel)]="placeAddress"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>เวลาทำการ</ion-label>
      <ion-input type="text" [(ngModel)]="timePlace"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>เบอร์โทรศัพท์</ion-label>
      <ion-input type="text" [(ngModel)]="telephonePlace"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Website</ion-label>
      <ion-input type="text" [(ngModel)]="websitePlace"></ion-input>
    </ion-item>

    <ion-item>
      <ion-row center>
        <ion-col text-center>
          <button ion-button type="button" style="width:100%;" color="primary" round outline (click)="getPlace()">แสดงค่าพิกัด</button>
        </ion-col>
        <ion-col text-center>
          <button ion-button type="button" style="width:100%;" color="danger" round outline (click)="resetLatLng()">ล้างค่าพิกัด</button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-label floating>*พิกัดละติจูด</ion-label>
      <ion-input type="text" name="lat" [(ngModel)]="lat"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>*พิกัดลองติจูด</ion-label>
      <ion-input type="text" name="lng" [(ngModel)]="lng"></ion-input>
    </ion-item>



    <ion-item>

      <ion-row center>
        <ion-col text-center>
          <button ion-button color="danger" style="width:100%;" type="button" round outline (click)="takePhoto()">
            <ion-icon name="md-camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button color="secondary" style="width:100%;" type="button" round outline (click)="selectPhoto()">
            <ion-icon name="md-image"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row center *ngIf="showPhotoUpload">
        <ion-col text-center *ngFor="let photo of photoPlaceURL; let id = index">
          <ion-card>
            <button ion-button type="button" color="danger" outline (click)="deletePhotoUpload(id)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <img [src]="photo" width="100px" height="100px" />
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>

  <ion-row center>
    <ion-col text-center>
      <button ion-button type="submit" full round large (click)="newMaps(namePlace, typesPlace, detailPlace, placeAddress, timePlace, telephonePlace, websitePlace)">เพิ่มสถานที่</button>
    </ion-col>
  </ion-row>



</ion-content>