<ion-header>

  <ion-navbar>
    <ion-title>เพิ่มสถานที่</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-line>
    <ion-item>
      <ion-label>*ชื่อสถานที่</ion-label>
      <ion-input type="text" [(ngModel)]="namePlace" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>*ประเภท</ion-label>
      <ion-select name="typesPlace" [(ngModel)]="typesPlace" required>
        <ion-option value="ที่พักอาศัย">ที่พักอาศัย</ion-option>
        <ion-option value="ร้านอาหาร">ร้านอาหาร</ion-option>
        <ion-option value="แหล่งท่องเที่ยว">แหล่งท่องเที่ยว</ion-option>
        <ion-option value="วัด สถานปฏิบัติธรรม กิจกรรมทางศาสนา">วัด สถานปฏิบัติธรรม กิจกรรมทางศาสนา</ion-option>
        <ion-option value="ร้านค้าของที่ระลึก">ร้านค้าของที่ระลึก</ion-option>
        <ion-option value="ศูนย์บริการข้อมูล">ศูนย์บริการข้อมูล</ion-option>
        <ion-option value="อื่น ๆ">อื่น ๆ</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>*รายละเอียด</ion-label>
      <ion-input type="text" [(ngModel)]="detailPlace" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>ที่อยู่</ion-label>
      <ion-input type="text" [(ngModel)]="placeAddress"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>เวลาทำการ</ion-label>
      <ion-input type="text" [(ngModel)]="timePlace"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>เบอร์โทรศัพท์</ion-label>
      <ion-input type="text" [(ngModel)]="telephonePlace"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Website</ion-label>
      <ion-input type="text" [(ngModel)]="websitePlace"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button type="button" color="primary" full round (click)="getPlace()">แสดงพิกัด</button>
      </ion-col>
      <ion-col>
        <button ion-button type="button" color="danger" full round (click)="resetLatLng()">ล้างพิกัด</button>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label>*พิกัด(Lat) : </ion-label>
      <ion-input type="text" name="lat" [(ngModel)]="lat" placeholder="ระบุค่าละติจูด" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>*พิกัด(Lng) : </ion-label>
      <ion-input type="text" name="lng" [(ngModel)]="lng" placeholder="ระบุค่าลองติจูด" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          <button ion-button color="danger" type="button" full round large (click)="takePhoto()">
            <ion-icon name="md-camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button color="secondary" type="button" full round large (click)="selectPhoto()">
            <ion-icon name="md-image"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <div *ngIf="showPhotoUpload">
        <img [src]="myPhoto" width="300" />
      </div>
      <div *ngIf="showPhotoUpload">
        <button ion-button type="button" color="danger" full round (click)="deletePhotoUpload()">ลบรูปภาพนี้</button>
      </div>
    </ion-item>

  </ion-list>

  <ion-row center>
    <ion-col text-center>
      <button ion-button type="submit" full round large (click)="newMaps(namePlace, typesPlace, detailPlace, placeAddress, timePlace, telephonePlace, websitePlace)">เพิ่มสถานที่</button>
    </ion-col>
  </ion-row>



</ion-content>