<ion-header>
  <ion-navbar>
    <ion-title>ข้อความ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-line>
    <ion-list-header>
      ข้อความ
    </ion-list-header>
    <ion-item-sliding *ngFor="let user of userChat.slice().reverse()">
      <ion-item (click)="goToChat(user)">
        <ion-thumbnail item-start>
          <img src="{{user.profilePicture}}">
        </ion-thumbnail>
        <h2>{{user.name}}</h2>
        <p>{{user.lastChat.message}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteCheckin(user)">
          <ion-icon name="trash"></ion-icon>
          ลบ
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-list no-line>
    <ion-list-header>
      ผู้ใช้งานในระบบ
    </ion-list-header>
    <ion-item *ngFor="let user of data" (click)="goToChat(user)">
      <ion-thumbnail item-start>
        <img src="{{user.profilePicture}}">
      </ion-thumbnail>
      <h2>{{user.name}}</h2>
    </ion-item>

  </ion-list>
</ion-content>