<ion-header >
  <ion-navbar color="Chat_Primary" >
    <ion-title>ข้อความ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="userChat.length>0">
  <ion-list no-line>
    <ion-list-header style="background-color:#efefef">
     <span style="color:#000">ข้อความเข้า</span> 
    </ion-list-header>
    <ion-item-sliding *ngFor="let user of userChat" >
      <ion-item (click)="goToChat(user)">
        <ion-avatar item-start>
            <img src="{{user.profilePicture}}">
          </ion-avatar>
        <h2 color="Chat_Secondary">{{user.name}}</h2>
        <ion-badge *ngIf="user.notification>0" item-end>{{user.notification}}</ion-badge>

      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteChat(user)">
          <ion-icon name="trash"></ion-icon>
          ลบ
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  </div>

  <ion-list no-line>
    <ion-list-header style="background-color:#efefef">
        <span style="color:#000">ผู้ใช้งานในระบบ</span> 
    </ion-list-header>
    <ion-item *ngFor="let user of data" (click)="goToChat(user)">
        <ion-avatar item-start>
            <img src="{{user.profilePicture}}">
          </ion-avatar>
          <h2 color="Chat_Secondary">{{user.name}}</h2>
            
      
    </ion-item>

  </ion-list>
</ion-content>