<ion-header>
  <ion-navbar no-border-bottom>
    <ion-buttons left>
      <button ion-button (click)="goToSearch()">
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>กระดานข่าวสาร</ion-title>
    <!-- <ion-buttons end>
      <button ion-button color="secondary" (click)="goToPost()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="News">
      <ion-segment-button value="All">
        ทั้งหมด
      </ion-segment-button>
      <ion-segment-button value="community">
        ชุมชน
      </ion-segment-button>
      <ion-segment-button value="natural">
        ธรรมชาติ
      </ion-segment-button>
      <ion-segment-button value="culture">
        วัฒนธรรม
      </ion-segment-button>
      <ion-segment-button value="travel">
        ท่องเที่ยว
      </ion-segment-button>
      <ion-segment-button value="other">
        อื่น ๆ
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="News">

    <ion-list *ngSwitchCase="'All'">
      <ion-item *ngFor="let post of (post | async)?.slice().reverse()" (click)="viewpost(post)">
        <!-- <ion-thumbnail item-start>
          <img src="{{post.profilePicture}}">
        </ion-thumbnail> -->
        <h2>{{post.topic}}</h2>
        <p>ประเภท : {{post.types}}</p>
        <p>รายละเอียด : {{post.detail}}</p>
      </ion-item>

      <ion-item *ngFor="let data of data">
        <ion-thumbnail item-start>
          <img src="{{data.profilePicture}}">
        </ion-thumbnail>
        <h2>{{data.name}}</h2>
        <p>รายละเอียด : {{data.uid}}</p>
      </ion-item>

      <!-- <ion-item *ngIf="showPostAll">
        <ion-row center>
          <ion-col text-center>
            <p>ไม่มีข้อมูลของแหล่งท่องเที่ยวในชุมชน</p>
          </ion-col>
        </ion-row>
      </ion-item> -->

    </ion-list>


    <ion-list *ngSwitchCase="'community'">
      <ion-item *ngFor="let community of (community | async)?.slice().reverse()" (click)="viewpostCommunity(community)">
        <!-- <ion-thumbnail item-start>
          <img src="{{community.profilePicture}}">
        </ion-thumbnail> -->
        <h2>{{community.topic}}</h2>
        <p>รายละเอียด : {{community.detail}}</p>
      </ion-item>

      <ion-item *ngIf="showPostCommunity">
        <ion-row center>
          <ion-col text-center>
            <p>ไม่มีข้อมูลของแหล่งท่องเที่ยวในชุมชน</p>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'natural'">
      <ion-item *ngFor="let natural of (natural | async)?.slice().reverse()" (click)="viewpostNatural(natural)">
        <!-- <ion-thumbnail item-start>
          <img src="{{natural.profilePicture}}">
        </ion-thumbnail> -->
        <h2>{{natural.topic}}</h2>
        <p>รายละเอียด : {{natural.detail}}</p>
      </ion-item>

      <ion-item *ngIf="showPostNatural">
        <ion-row center>
          <ion-col text-center>
            <p>ไม่มีข้อมูลของแหล่งท่องเที่ยวเชิงธรรมชาติ</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'culture'">
      <ion-item *ngFor="let culture of (culture | async)?.slice().reverse()" (click)="viewpostCulture(culture)">
        <!-- <ion-thumbnail item-start>
          <img src="{{culture.profilePicture}}">
        </ion-thumbnail> -->
        <h2>{{culture.topic}}</h2>
        <p>รายละเอียด : {{culture.detail}}</p>
      </ion-item>

      <ion-item *ngIf="showPostCulture">
        <ion-row center>
          <ion-col text-center>
            <p>ไม่มีข้อมูลของแหล่งท่องเที่ยวเชิงวัฒนธรรม</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'travel'">
      <ion-item *ngFor="let travel of (travel | async)?.slice().reverse()" (click)="viewpostTravel(travel)">
        <!-- <ion-thumbnail item-start>
          <img src="{{travel.profilePicture}}">
        </ion-thumbnail> -->
        <h2>{{travel.topic}}</h2>
        <p>รายละเอียด : {{travel.detail}}</p>
      </ion-item>

      <ion-item *ngIf="showPostTravel">
        <ion-row center>
          <ion-col text-center>
            <p>ไม่มีข้อมูลของกิจกรรมท่องเที่ยว</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'other'">
      <ion-item *ngFor="let other of (other | async)?.slice().reverse()" (click)="viewpostOther(other)">
        <!-- <ion-thumbnail item-start>
          <img src="{{other.profilePicture}}">
        </ion-thumbnail> -->
        <h2>{{other.topic}}</h2>
        <p>รายละเอียด : {{other.detail}}</p>
      </ion-item>

      <ion-item *ngIf="showPostOther">
        <ion-row center>
          <ion-col text-center>
            <p>ไม่มีข้อมูลของประเภทอื่น ๆ</p>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

  </div>

  <!-- <ion-fab right bottom>
    <button ion-fab color="secondary">
      <ion-icon name="reorder"></ion-icon>
    </button>
    <ion-fab-list side="top">

      <button ion-fab (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-fab (click)="goToPost()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab> -->

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="goToPost()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>