<ion-header>
  <ion-navbar no-border-bottom color="Home_Primary">
    <!-- <ion-buttons left>
      <button ion-button (click)="goToSearch()">
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>กระดานข่าวสาร</ion-title>
    <!-- <ion-buttons end>
      <button ion-button color="secondary" (click)="goToPost()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>


  <ion-segment [(ngModel)]="News" color="Home_Primary" style="background-color:rgb(255, 255, 255)">
    <ion-segment-button value="All">
      ทั้งหมด
    </ion-segment-button>
    <ion-segment-button value="community">
      ชุมชน
    </ion-segment-button>
    <ion-segment-button value="natural">
      ธรรมชาติ
    </ion-segment-button>
    <ion-segment-button value="culture">
      วัฒนธรรม
    </ion-segment-button>
    <ion-segment-button value="travel">
      ท่องเที่ยว
    </ion-segment-button>
    <ion-segment-button value="other">
      อื่น ๆ
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content style="background-color:rgb(228, 228, 228)">
  <div [ngSwitch]="News">

    <ion-list *ngSwitchCase="'All'">
      <div *ngIf="(All | async)?.length==0">
        <ion-card>
          <ion-card-header>
            <h1 style="color:#e64505">ไม่มีข้อมูล</h1>
          </ion-card-header>
          <ion-card-content>
            แย่จัง! ดูเหมือนจะไม่มีข้อมูลในหมวดนี้เลย มาร่วมกันสร้างกระดานข่าวเพื่อให้คนรู้จักกันเถอะ..
          </ion-card-content>
        </ion-card>
      </div>

      <ion-card *ngFor="let post of (post | async)?.slice().reverse()" (click)="viewpost(post)">
        <ion-item color="topic">
          <ion-avatar item-start>
            <img [src]="post.profilePicture">
          </ion-avatar>
          <h2>
            <span style="color:#e64c05">&nbsp;&nbsp;&nbsp;&nbsp;{{post.name}}</span>
            <span style="color:#a59088;float:right;font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;
              <ion-icon name="ios-eye-outline"></ion-icon> {{viewCount(post.view)}} ครั้ง</span>
          </h2>
          <p style="margin-top:10px;"> &nbsp;
            <ion-icon name="ios-time-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{viewDate(post.timestamp)}}</span> &nbsp;
            <br> &nbsp;
            <ion-icon name="ios-pricetags-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{post.types}}</span>
          </p>
        </ion-item>
        <ion-card-content>
          <p style="color:rgb(44, 42, 41);margin-top:10px;font-size:20px">{{post.topic}}</p>
        </ion-card-content>
        <img *ngIf="post.photoPostURL!='-'" [src]="post.photoPostURL">
      </ion-card>
    </ion-list>


    <ion-list *ngSwitchCase="'community'">
      <div *ngIf="(community | async)?.length==0">
        <ion-card>
          <ion-card-header>
            <h1 style="color:#e64505">ไม่มีข้อมูล</h1>
          </ion-card-header>
          <ion-card-content>
            แย่จัง! ดูเหมือนจะไม่มีข้อมูลในหมวดนี้เลย มาร่วมกันสร้างกระดานข่าวเพื่อให้คนรู้จักกันเถอะ..
          </ion-card-content>
        </ion-card>
      </div>

      <ion-card *ngFor="let post of (community | async)?.slice().reverse()" (click)="viewpost(post)">
        <ion-item color="topic">
          <ion-avatar item-start>
            <img [src]="post.profilePicture">
          </ion-avatar>
          <h2>
            <span style="color:#e64c05">&nbsp;&nbsp;&nbsp;&nbsp;{{post.name}}</span>
            <span style="color:#a59088;float:right;font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;
              <ion-icon name="ios-eye-outline"></ion-icon> {{viewCount(post.view)}} ครั้ง</span>
          </h2>
          <p style="margin-top:10px;"> &nbsp;
            <ion-icon name="ios-time-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{viewDate(post.timestamp)}}</span> &nbsp;
            <br> &nbsp;
            <ion-icon name="ios-pricetags-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{post.types}}</span>
          </p>
        </ion-item>
        <ion-card-content>
          <p style="color:rgb(44, 42, 41);margin-top:10px;font-size:20px">{{post.topic}}</p>
        </ion-card-content>
        <img *ngIf="post.photoPostURL!='-'" [src]="post.photoPostURL">
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'natural'">
      <div *ngIf="(natural | async)?.length==0">
        <ion-card>
          <ion-card-header>
            <h1 style="color:#e64505">ไม่มีข้อมูล</h1>
          </ion-card-header>
          <ion-card-content>
            แย่จัง! ดูเหมือนจะไม่มีข้อมูลในหมวดนี้เลย มาร่วมกันสร้างกระดานข่าวเพื่อให้คนรู้จักกันเถอะ..
          </ion-card-content>
        </ion-card>
      </div>

      <ion-card *ngFor="let post of (natural | async)?.slice().reverse()" (click)="viewpost(post)">
        <ion-item color="topic">
          <ion-avatar item-start>
            <img [src]="post.profilePicture">
          </ion-avatar>
          <h2>
            <span style="color:#e64c05">&nbsp;&nbsp;&nbsp;&nbsp;{{post.name}}</span>
            <span style="color:#a59088;float:right;font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;
              <ion-icon name="ios-eye-outline"></ion-icon> {{viewCount(post.view)}} ครั้ง</span>
          </h2>
          <p style="margin-top:10px;"> &nbsp;
            <ion-icon name="ios-time-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{viewDate(post.timestamp)}}</span> &nbsp;
            <br> &nbsp;
            <ion-icon name="ios-pricetags-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{post.types}}</span>
          </p>
        </ion-item>
        <ion-card-content>
          <p style="color:rgb(44, 42, 41);margin-top:10px;font-size:20px">{{post.topic}}</p>
        </ion-card-content>
        <img *ngIf="post.photoPostURL!='-'" [src]="post.photoPostURL">
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'culture'">
      <div *ngIf="(culture | async)?.length==0">
        <ion-card>
          <ion-card-header>
            <h1 style="color:#e64505">ไม่มีข้อมูล</h1>
          </ion-card-header>
          <ion-card-content>
            แย่จัง! ดูเหมือนจะไม่มีข้อมูลในหมวดนี้เลย มาร่วมกันสร้างกระดานข่าวเพื่อให้คนรู้จักกันเถอะ..
          </ion-card-content>
        </ion-card>
      </div>

      <ion-card *ngFor="let post of (culture | async)?.slice().reverse()" (click)="viewpost(post)">
        <ion-item color="topic">
          <ion-avatar item-start>
            <img [src]="post.profilePicture">
          </ion-avatar>
          <h2>
            <span style="color:#e64c05">&nbsp;&nbsp;&nbsp;&nbsp;{{post.name}}</span>
            <span style="color:#a59088;float:right;font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;
              <ion-icon name="ios-eye-outline"></ion-icon> {{viewCount(post.view)}} ครั้ง</span>
          </h2>
          <p style="margin-top:10px;"> &nbsp;
            <ion-icon name="ios-time-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{viewDate(post.timestamp)}}</span> &nbsp;
            <br> &nbsp;
            <ion-icon name="ios-pricetags-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{post.types}}</span>
          </p>
        </ion-item>
        <ion-card-content>
          <p style="color:rgb(44, 42, 41);margin-top:10px;font-size:20px">{{post.topic}}</p>
        </ion-card-content>
        <img *ngIf="post.photoPostURL!='-'" [src]="post.photoPostURL">
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'travel'">
      <div *ngIf="(travel | async)?.length==0">
        <ion-card>
          <ion-card-header>
            <h1 style="color:#e64505">ไม่มีข้อมูล</h1>
          </ion-card-header>
          <ion-card-content>
            แย่จัง! ดูเหมือนจะไม่มีข้อมูลในหมวดนี้เลย มาร่วมกันสร้างกระดานข่าวเพื่อให้คนรู้จักกันเถอะ..
          </ion-card-content>
        </ion-card>
      </div>

      <ion-card *ngFor="let post of (travel | async)?.slice().reverse()" (click)="viewpost(post)">
        <ion-item color="topic">
          <ion-avatar item-start>
            <img [src]="post.profilePicture">
          </ion-avatar>
          <h2>
            <span style="color:#e64c05">&nbsp;&nbsp;&nbsp;&nbsp;{{post.name}}</span>
            <span style="color:#a59088;float:right;font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;
              <ion-icon name="ios-eye-outline"></ion-icon> {{viewCount(post.view)}} ครั้ง</span>
          </h2>
          <p style="margin-top:10px;"> &nbsp;
            <ion-icon name="ios-time-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{viewDate(post.timestamp)}}</span> &nbsp;
            <br> &nbsp;
            <ion-icon name="ios-pricetags-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{post.types}}</span>
          </p>
        </ion-item>
        <ion-card-content>
          <p style="color:rgb(44, 42, 41);margin-top:10px;font-size:20px">{{post.topic}}</p>
        </ion-card-content>
        <img *ngIf="post.photoPostURL!='-'" [src]="post.photoPostURL">
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'other'">
      <div *ngIf="(other | async)?.length==0">
        <ion-card>
          <ion-card-header>
            <h1 style="color:#e64505">ไม่มีข้อมูล</h1>
          </ion-card-header>
          <ion-card-content>
            แย่จัง! ดูเหมือนจะไม่มีข้อมูลในหมวดนี้เลย มาร่วมกันสร้างกระดานข่าวเพื่อให้คนรู้จักกันเถอะ..
          </ion-card-content>
        </ion-card>
      </div>

      <ion-card *ngFor="let post of (other | async)?.slice().reverse()" (click)="viewpost(post)">
        <ion-item color="topic">
          <ion-avatar item-start>
            <img [src]="post.profilePicture">
          </ion-avatar>
          <h2>
            <span style="color:#e64c05">&nbsp;&nbsp;&nbsp;&nbsp;{{post.name}}</span>
            <span style="color:#a59088;float:right;font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;
              <ion-icon name="ios-eye-outline"></ion-icon> {{viewCount(post.view)}} ครั้ง</span>
          </h2>
          <p style="margin-top:10px;"> &nbsp;
            <ion-icon name="ios-time-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{viewDate(post.timestamp)}}</span> &nbsp;
            <br> &nbsp;
            <ion-icon name="ios-pricetags-outline"></ion-icon> &nbsp;
            <span style="color:#a59088">{{post.types}}</span>
          </p>
        </ion-item>
        <ion-card-content>
          <p style="color:rgb(44, 42, 41);margin-top:10px;font-size:20px">{{post.topic}}</p>
        </ion-card-content>
        <img *ngIf="post.photoPostURL!='-'" [src]="post.photoPostURL">
      </ion-card>
    </ion-list>

  </div>

  <ion-fab right bottom #fab>
    <button ion-fab color="Home_Primary">
      <ion-icon name="apps"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="goToPost(fab)" color="Home_Primary">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-fab (click)="goToSearch(fab)" color="Home_Primary">
        <ion-icon name="ios-search"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>