page-map {
    #map {
        height: 100%;
        width: 100%;
    } 
    .search {
        overflow: scroll;
        position: absolute;
        z-index: 1;
        width: 100%;
    }
    .scroll {
        height: 100%
    }
    ion-list{
        padding-top: 2%;
        padding-left: 3%;
        padding-right: 3%;
    }


  
}
