<ion-header>
  <ion-navbar>
    <ion-title>เพิ่มกระดานข่าวสาร</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-line>
    <ion-item>
      <ion-label floating>*เรื่อง</ion-label>
      <ion-input [(ngModel)]="topic" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>*ประเภท</ion-label>
      <ion-select [(ngModel)]="types" name="types">
        <ion-option value="แหล่งท่องเที่ยวในชุมชน">แหล่งท่องเที่ยวในชุมชน</ion-option>
        <ion-option value="แหล่งท่องเที่ยวเชิงธรรมชาติ">แหล่งท่องเที่ยวเชิงธรรมชาติ</ion-option>
        <ion-option value="แหล่งท่องเที่ยวเชิงวัฒนธรรม">แหล่งท่องเที่ยวเชิงวัฒนธรรม</ion-option>
        <ion-option value="กิจกรรมท่องเที่ยว">กิจกรรมท่องเที่ยว</ion-option>
        <ion-option value="อื่น ๆ">อื่น ๆ</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>*รายละเอียด</ion-label>
      <ion-textarea [(ngModel)]="detail" rows="5"></ion-textarea>
    </ion-item>


    <ion-item>
      <ion-row center>
        <ion-col text-center>
          <button ion-button type="button" style="width:100%;" color="primary" round outline (click)="getPlace()">แสดงค่าพิกัด</button>
        </ion-col>
        <ion-col text-center>
          <button ion-button type="button" style="width:100%;" color="danger" round outline (click)="resetLatLng()">ล้างค่าพิกัด</button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-label floating>ละติจูด</ion-label>
      <ion-input type="text" name="lat" [(ngModel)]="lat"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>ลองติจูด</ion-label>
      <ion-input type="text" name="lng" [(ngModel)]="lng"></ion-input>
    </ion-item>

    <ion-item>
      <ion-row center>
        <ion-col text-center>
          <button ion-button color="danger" style="width:100%;" type="button" round outline (click)="takePhoto()">
            <ion-icon name="md-camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button color="secondary" style="width:100%;" type="button" round outline (click)="selectPhoto()">
            <ion-icon name="md-image"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row center *ngIf="showPhotoUpload">
        <ion-col text-center *ngFor="let photo of photoPostURL; let id = index">
          <ion-card>
            <button ion-button type="button" color="danger" outline (click)="deletePhotoUpload(id)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <img [src]="photo" width="100px" height="100px" />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>

  <ion-row center>
    <ion-col text-center>
      <button ion-button type="submit" round (click)="newPost(topic, detail, types)">เพิ่มข่าวสาร</button>
      <ion-label color="danger">* ข้อมูลจำเป็น</ion-label>
    </ion-col>
  </ion-row>

</ion-content>