<ion-header>

  <ion-navbar color="Home_Primary">
    <ion-title> {{topic}} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color:rgb(255, 255, 255)">


  <ion-list>
    <ion-item color="topic">
      <h2>
        <span style="color:#e64c05">&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</span>
        <span style="color:#a59088;float:right;font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-icon name="ios-eye-outline"></ion-icon> &nbsp; {{view}} ครั้ง</span>
      </h2>
      <p style="margin-top:10px;"> &nbsp;
        <ion-icon name="ios-time-outline"></ion-icon> &nbsp;
        <span style="color:#a59088">{{viewDate(timestamp)}} </span> &nbsp;
        <br> &nbsp;
        <ion-icon name="ios-pricetags-outline"></ion-icon> &nbsp;
        <span style="color:#a59088">{{types}}</span> &nbsp;
      </p>
    </ion-item>

    <p padding class="detailText" style="background-color:rgb(255, 255, 255)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{Textdetail()}} </p>
  </ion-list>
  <ion-list fluid *ngIf="imageShow" style="background-color:rgb(228, 228, 228)">
    <ion-item *ngFor="let photo of photoPostURL">
      <img src="{{photo}}" width="100%" align-items="center" />
    </ion-item>
  </ion-list>
  <ion-card *ngIf="mapShow">
    <ion-card-header>
      <h2>แผนที่</h2>
    </ion-card-header>
    <div #map id="map"></div>
  </ion-card>

  <!-- <button ion-button color="danger" (click)="goToPost()">
    <ion-icon name="add-circle">
      รายงานโพสต์
    </ion-icon>
  </button> -->

</ion-content>