page-viewpost {
    #map {
        height: 400px;
        width: 100%;
    }
    .imgSlide {
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }
    .detailText {
        white-space: pre-line!important;
      }
}
