<ion-header>

  <ion-navbar>
    <ion-title>{{namePlace}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="imgShow">
    <ion-row center>
      <ion-col text-center>
        <img src="{{photoPlaceURL}}" width="300px">
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>ชื่อสถานที่ : {{namePlace}} </p>
      <p>รายละเอียด : {{detailPlace}} </p>
      <p>ที่อยู่ : {{placeAddress}} </p>
      <p>ประเภทของสถานที่ : {{typesPlace}} </p>
      <p>เวลาทำการ : {{timePlace}} </p>
      <p>เบอร์โทรศัพท์ : {{telephonePlace}} </p>
      <p>เว็ปไซต์ : {{websitePlace}} </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="mapShow">
    <div #map id="map"></div>
  </ion-card>




</ion-content>